DB_URL=jdbc:mysql://localhost:3306/factorypick?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=root
DB_PASSWORD=1234
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin1234
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
DATA_GO_KR_SERVICE_KEY=3GjiqFQPAAHuAKmohEvtF535KFMg6NdkU1H6EjnGX4iGRHoiG91iCZ3r%2FjeT7FPhe%2FV1k70%2BgIL9NP2VFw6KKQ%3D%3D
DATA_GO_KR_PAGE_SIZE=100
KAKAO_REST_API_KEY=fddcf4e9198fd380eb22e69a1f2266a2
